<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="excelsoft.com.cl_launcher">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".LauncherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".Home"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@style/AppThemeTwo"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">

            <!-- Use android:theme="@android:style/Theme.NoTitleBar.Fullscreen" for full screen -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/ic_launcher" />
        </activity>
        <activity
            android:name=".Wallpaper"
            android:icon="@drawable/bg_android_icon"
            android:label="Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="backgroundservice.PackageRemoveReciever">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="backgroundservice.AppUsageAlarmReceiver" />
        <receiver android:name="backgroundservice.FileUploadAlarmService" />
        <receiver
            android:name="backgroundservice.AppBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="device_admin_utill.DevicePolicyAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service android:name="backgroundservice.AppUsageSchedulingService" />
        <service
            android:name="backgroundservice.LocationFetchingService"
            android:exported="false" />

        <activity
            android:name=".SettingScreen"
            android:label="@string/setting"
            android:parentActivityName=".Home"
            android:theme="@style/AppThemeTwo" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".Home"
            android:theme="@style/AppThemeTwo" />

        <service
            android:name="backgroundservice.FileUploadingIntentService"
            android:exported="false"></service>
    </application>

</manifest>
